* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #082032;
  --secondColor: #334756;
  --itulahColor: #2c394b;
  --acsentColor: #ff4c29;
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: var(--mainColor);
}

section {
  margin-top: 5rem;
}
section h2 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
section h1 {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
}
section p {
  font-weight: 400;
  color: #fff;
}

/* navbar */
.navbar {
  /* background-color: #2c394b; */
}

.navbar-brand {
  font-weight: 700;
  font-size: 25px;
}
.navbar span {
  color: #ff4c29;
}
.nav-link {
  margin-left: 40px;
  letter-spacing: 2px;
}
.nav-link:hover {
  color: #ff4c29;
}
.nav-link.active {
  color: #ff4c29 !important;
  font-weight: 700;
}
.nav-dark {
  background: var(--secondColor) !important;
  z-index: 999;
  transition: 0.8s;
}

/* end navbar */

/* hero */
#hero {
  padding-top: 60px;
}

#hero span {
  color: #ff4c29;
}

.hero-tagline {
  margin: 0 auto;
}

#hero .social-icon {
  margin-top: 15px;
  color: #fff;
}
#hero .social-icon svg {
  margin-right: 5px;
}
#hero .social-icon a {
  text-decoration: none;
  color: #fff;
}

.button-talk {
  background-color: #ff4c29;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-style: none;
  border-radius: 5px;
  width: 140px;
  height: 35px;
}
.button-talk:hover {
  background-color: #334756;
  color: #ff4c29;
  font-size: 18px;
}

/* end hero */

/* about */
#about {
  margin-top: 80px;
  padding: 30px 10px;
  background-color: var(--secondColor);
}
#about h1 {
  padding-top: 20px;
  margin-bottom: -10px;
  letter-spacing: 2px;
}
#about hr {
  width: 70%;
  margin: 10px auto;
  height: 5px;
  color: #ff4c29;
  opacity: 100%;
}

.about-tagline {
  height: 100%;
}

/* end about */

/* portfolio */
#portfolio {
  padding-bottom: 40px;
}

#portfolio hr {
  width: 100%;
  margin: 10px auto;
  height: 10px;
  color: #ff4c29;
  opacity: 100%;
}

#portfolio .box {
  padding: 20px;
  box-shadow: 0px 0 5px #fff;
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border-radius: 10px;
}

.box h5 {
  color: #ff4c29;
  font-weight: 600;
}
.box a {
  text-decoration: none;
}

#portfolio .box img {
  padding: 10px 10px;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(1.2);
}

/* end portfolio */

/* contact */
#contact {
  padding: 20px 0 50px 0;
  background-color: var(--secondColor);
}

#contact hr {
  width: 80%;
  color: #ff4c29;
  opacity: 100%;
  margin: 20px auto;
}
/* end contact */

/* footer */
#footer .container {
  margin: auto;
}
#footer .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-col {
  width: 25%;
  padding: 0 0 0 5%;
  margin-bottom: 30px;
}
.footer-col h4 {
  color: #ff4c29;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  text-decoration: none;
  color: #fff;
}
.footer-col ul li a:hover {
  color: #ff4c29;
  padding-left: 5px;
  transition: all 0.3s ease;
}
.copyright {
  margin-top: 20px;
  font-size: 16px;
  align-content: center;
}
.copyright strong {
  color: #ff4c29;
}
/* end footer */

/* responsive desktop */
@media (max-width: 992px) {
  #portfolio .porto-box {
    margin: 10px;
    height: 80%;
  }
}

/* responsive tablet */
@media (max-width: 768px) {
  #hero .container {
    display: flex;
    text-align: center;
  }
  #hero .container img {
    margin-top: 40px;
  }

  #portfolio .porto-box {
    margin: 10px;
  }
  .footer-col {
    width: 50%;
    padding: 0 0 0 15%;
    margin-bottom: 30px;
  }
}

/* responsive mobile */
@media (max-width: 550px) {
  #hero .container h1 {
    font-size: 35px;
  }
  #hero .container h2 {
    font-size: 25px;
  }
  .footer-col {
    width: 50%;
    padding: 0 0 0 10%;
    margin-bottom: 30px;
  }
  .copyright p {
    width: 90%;
    margin: auto;
  }
}
